nav a {
    color: rgb(204, 42, 42);
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(16, 139, 0);
}

img {
    width: 170px;
    height: auto;
    border: 2px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}