nav a {
    color: rgb(204, 42, 42);
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(16, 139, 0);
}

img {
    width: 170px;
    height: auto;
    border: 2px solid rgb(203, 217, 219);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside {
    width: 20em;
    text-align: center;
}

main img {
    /* you most likely will have other CSS declarations here */
    float: center;
}